@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  --white25: #fcfcfc;
  --white50: #fafafa;
  --Gray100: #f4f4f5;
  --Gray200: #e4e4e7;
  --Gray300: #d1d1d6;
  --Gray400: #a0a0ab;
  --Gray500: #70707b;
  --Gray600: #51525c;
  --black700: #3f3f46;
  --black800: #26272b;
  --black900: #18181b;
  --heading-1: 6.5rem;
  --heading-2: 4rem;
  --heading-3: 3.25rem;
  --heading-4: 3rem;
  --heading-5: 2.5rem;
  --heading-6: 2rem;
  --heading-7: 1.5rem;
  --body-XLarge: 1.25rem;
  --body-Large: 1.125rem;
  --body-Medium: 1rem;
  --body-Small: 0.875rem;
  --body-XSmall: 0.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Satoshi", sans-serif;
  background-color: var(--black800);
}

/* header section starts */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--white25);
  background-position: center;
}
.hero-content {
  height: 100vh;
  max-height: fit-content;
}
header {
  position: relative;
}

.hero-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

header .overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25.5px 80px;
  position: absolute;
  top: 0;
  width: 100%;
}

nav a {
  color: var(--white25);
  text-decoration: none;
  margin: 0 15px;
  font-size: var(--body-Small);
}
.menu {
  display: none;
}
nav .contact {
  padding: 10px 18px;
  background: var(--white25);
  color: black;
  border-radius: 12px;
  font-size: var(--body-Medium);
}
.hero-content .hero-details {
  position: absolute;
  top: 300px;
}
.hero-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 200px;
  margin-left: 78px;
}

.hero-text h1 {
  font-size: var(--heading-1);
  font-weight: 400;
  color: var(--white25);
  line-height: 110%;
}

.hero-text h1 span {
  font-weight: bold;
}

.scroll {
  position: absolute;
  top: 350px;
  right: 300px;
  font-size: var(--body-XLarge);
  border-radius: 50%;
  border: 1px solid var(--white25);
  height: 70px;
  width: 70px;
  color: var(--white25);
  text-align: center;
  padding: 22px;
}

.scroll:hover {
  cursor: pointer;
}

.hero-gallery {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}

.hero-gallery img {
  border-radius: 12px;
  margin: 8px 8px;
  width: 196px;
  cursor: pointer;
}

/* header section ends  */

/* about section starts */

.about {
  padding: 80px 80px 56px;
}
.about-section {
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

.about-left {
  width: 500px;
}

.about-section h1 {
  font-size: var(--heading-3);
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 120%;
}

.learn-more {
  padding: 10px 22.5px;
  font-size: var(--body-Medium);
  background-color: var(--black900);
  color: var(--white25);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more:hover {
  background-color: var(--black700);
}

.about-right {
  width: 662px;
}

.right-upper {
  margin-bottom: 30px;
}
.about-section .about-right p {
  font-size: var(--body-XLarge);
  color: var(--Gray500);
  line-height: 155%;
  font-weight: 300;
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  margin-top: 56px;
}

.feature img {
  height: auto;
  object-fit: cover;
}

.features-section .img-1 {
  width: 100%;
  max-width: 316px;
}

.features-section .img-2 {
  margin-top: 169px;
  width: 100%;
  max-width: 402px;
}
.features-section .img-3 {
  width: 100%;
  max-width: 498px;
}
.feature h3 {
  font-size: var(--heading-7);
  margin: 24px 0 8px;
  color: var(--black900);
  font-weight: 400;
}

.feature p {
  font-size: var(--body-Medium);
  color: var(--Gray500);
  line-height: 155%;
  font-weight: 300;
}

/* about section ends  */

/* Property sections starts */

.property {
  padding: 80px;
}
.property-header {
  display: flex;
  justify-content: space-between;
  gap: 248px;
  margin-bottom: 56px;
}
.property-header h3 {
  font-size: var(--heading-3);
  font-weight: 400;
  width: 100%;
  max-width: 459px;
  padding: 15.5px 0;
  letter-spacing: -2;
}
.property-header p {
  width: 100%;
  max-width: 573px;
  font-size: var(--body-XLarge);
  color: var(--Gray500);
  font-weight: 300;
}

.property-upper {
  display: flex;
  margin-bottom: 24px;
  gap: 23px;
  flex-wrap: wrap;
}

.property-middle {
  display: flex;
  margin-bottom: 24px;
}
.property-lower {
  display: flex;
}

.property-img {
  display: flex;
  position: absolute;
  gap: 8px;
  right: 16px;
  top: 16px;
}

.property-img P {
  font-size: var(--body-Medium);
  font-weight: 300;
  background-color: var(--black900);
  border-radius: 9999px;
  color: var(--white25);
  padding: 8px 12px;
}

.property-gallery {
  /* margin-right: 1.5rem; */
  position: relative;
}
.property-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 410px;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--Gray200);
}

.property-details h4 {
  font-size: var(--heading-7);
  font-weight: 500;
  margin-bottom: 4px;
}
.property-details p {
  font-size: var(--body-Medium);
  font-weight: 400;
  color: var(--Gray500);
}

.property-details .property-price {
  text-align: center;
  margin: 15.5px 0;
  font-weight: 600;
  color: var(--black900);
  font-size: var(--body-XLarge);
}

.property-room {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 410px;
  margin-top: 16px;
  padding-bottom: 16px;
}
/* .property-room  .fa-bed {
  border-left: 5px solid var(--Gray400);
  height: 20px;
  
} */

.property-room p {
  font-size: var(--body-Medium);
  font-weight: 300;
  color: var(--Gray500);
}

.property-details .property-pricebox {
  font-weight: 600;
  color: var(--black900);
  font-size: var(--body-XLarge);
  margin-bottom: 9px;
  text-align: end;
}

.view-more {
  margin-top: 56px;
  margin-left: 576px;
  padding: 10px 25.5px;
  font-size: var(--body-Medium);
  background-color: var(--black900);
  color: var(--white25);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Satoshi", sans-serif;
}

.view-more:hover {
  background-color: var(--black700);
}
/* Property section ends  */

/* FaQ section starts */

.faq-container {
  padding: 80px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 1440px;
  gap: 56px;
}
.faq-left {
  margin-bottom: 56px;
  width: 100%;
  max-width: 532px;
}
.faq-left h3 {
  font-size: var(--heading-3);
  font-weight: 400;
  letter-spacing: -2;
  margin-bottom: 24px;
}
.faq-left p {
  width: 100%;
  max-width: 573px;
  font-size: var(--body-XLarge);
  color: var(--Gray500);
  font-weight: 300;
  line-height: 155%;
}
.faq-left img {
  margin-top: 56px;
  width: 100%;
  border-radius: 12px;
}

.faq-right {
  width: 100%;
}
.faq-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}
.faq-list button {
  background-color: var(--white25);
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 16px;
  font-size: var(--body-Large);
  font-weight: 300;
  color: var(--Gray500);
  font-family: "Satoshi", sans-serif;
}

.faq-list .answer {
  margin-bottom: 0px;
  font-weight: 500;
  color: var(--black900);
}
.faq-answer {
  cursor: pointer;
  padding: 0 16px;
  font-weight: 300;
  color: var(--Gray500);
}
/* FaQ section ends  */

/* Tips section starts  */

.tips {
  padding: 80px;
}
.tips-header {
  display: flex;
  justify-content: space-between;
  gap: 168px;
  margin-bottom: 56px;
}
.tips-header h3 {
  font-size: var(--heading-3);
  font-weight: 400;
  width: 100%;
  max-width: 562px;
  padding: 15.5px 0;
  letter-spacing: -2;
}
.tips-header p {
  width: 100%;
  max-width: 573px;
  font-size: var(--body-Large);
  color: var(--Gray500);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
  line-height: 155%;
}

.tips-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.tips-img img {
  width: 100%;
  max-width: 410px;
  height: 424px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
}
.tips-img p {
  font-size: var(--body-Medium);
  font-weight: 400;
  color: var(--Gray500);
}
.tips-img h3 {
  font-size: var(--heading-7);
  line-height: 120%;
  font-weight: 500;
}

.date-time {
  margin-bottom: 16px;
}
.time {
  margin-left: 16px;
}
.tips-lower-part {
  display: flex;
  justify-content: space-between;
}
.indicator-container {
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}

.indicator {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  transition: background 0.3s ease;
  cursor: pointer;
}
.indicator-container .first {
  background-color: var(--black900);
}
.indicator:hover {
  background: var(--black900);
}
.direction {
  margin-top: 20px;
}
.direction .fa-solid {
  background: var(--black900);
  color: var(--white25);
  padding: 10px;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 1px solid var(--black900);
}
.direction .fa-arrow-left {
  color: var(--black900);
  background: var(--white25);
  border: 1px solid var(--black900);
  margin-right: 8px;
}

.direction button:hover {
  background: #0056b3;
}

/* Tips section ends  */

/* contact section starts  */

.contact-container {
  padding: 40px 16px;
  position: relative;
}

.contact-container img {
  width: 100%;
  max-width: 1440px;
  height: 542px;
  object-fit: cover;
}

.contact-container .contact-img img {
  border-radius: 36px;
}

.contact-container .overlay {
  position: absolute;
  margin: 40px 16px;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1409px;
  background: linear-gradient(rgba(0, 0, 0, 0.9));
}

.contact-details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40;
  left: 56;
  gap: 229px;
}

.content {
  width: 100%;
  max-width: 624px;
  margin-top: 151px;
}
.contact-container .content h2 {
  font-size: var(--heading-2);
  margin-bottom: 24px;
  line-height: 120%;
  color: var(--white25);
  font-weight: 500;
}

.contact-container .content p {
  font-size: var(--body-XLarge);
  line-height: 155%;
  font-weight: 300;
  color: var(--white25);
}

.form-container {
  width: 100%;
  max-width: 444px;
}

.form {
  margin-top: 57px;
  background: var(--white25);
  border-radius: 24px;
  padding: 24px;
}

.form label {
  margin-bottom: 16px;
  font-weight: 400;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: var(--body-Medium);
  font-family: "Satoshi", sans-serif;
}

.form textarea {
  height: 150px;
}

.form button {
  width: 100%;
  padding: 10px;
  background: var(--black900);
  color: var(--white25);
  border: none;
  border-radius: 8px;
  font-size: var(--body-Medium);
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background: var(--black800);
}

/* contact section ends  */

/* footer section starts */
.footer {
  background-color: var(--black900);
  padding: 80px 56px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  color: var(--white25);
}

.footer-column {
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: var(--heading-6);
  margin-bottom: 32px;
  font-weight: 300;
}

.contact-us {
  display: flex;
  gap: 24px;
}
.footer-column .contact-us p {
  line-height: 35px;
  color: var(--Gray300);
}
.footer-navigation {
  display: flex;
  gap: 24px;
}
.footer-column h4 {
  margin-bottom: 16px;
  color: var(--white50);
  font-weight: 300;
}

.footer-column a {
  margin-bottom: 16px;
  color: var(--white25);
  text-decoration: none;
  display: block;
  transition: color 0.3s;
  font-weight: 300;
}

.footer-divider {
  border-top: 1px solid #333333;
  margin-bottom: 37px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: var(--body-Small);
  color: var(--Gray500);
}

.footer-bottom a {
  color: #cccccc;
  text-decoration: none;
  margin-left: 5px;
}

.footer-bottom a:hover {
  color: var(--white25);
}

/* footer section ends  */
